.generate-fresh-columns (@i) when (@i > 0) {

    .generate-fresh-columns(@i - 1);

}

.calc-fresh-columns(@class, @i) when (@i > 0) {

    .make-column-classes(@class, @index);

    .calc-fresh-columns(@class, (@i - 1));
}

.make-column-classes(@class, @index) {

    .fresh-col-@{class}-@{index} {
        position: relative;
        flex-basis: percentage((@fresh-columns / @fresh-grid-columns));
        min-height: 1px;
    }

    .fresh-@{class}-column-offset {
        margin-left: percentage((@index / @fresh-grid-columns));
    }

    .fresh-@{size}-column-push {
        left: percentage((@index / @fresh-grid-columns));
    }

    .fresh-@{size}-column-pull {
        right: percentage((@index / @fresh-grid-columns));
    }
}