.fresh-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: flex-start;
}

.fresh-row--space {
    justify-content: space-between;
}

.make-xs-column();