/*
 * PHP verze 5.6, Mike Framework v.3
 *
 * @author Milan Kyncl <mmkyncl@gmail.com>, http://www.kyro.cz
 *
 * Copyright (c) 2016
 */

body,html{
    background: #f3f3f3;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    min-height: 100%;
}

a {
    font-weight: 600;
    color: #d01d33;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #b71a2e;
}

.wrapper > section p a {
    font-size: 16px;
    font-weight: lighter;
}


/*
 * NAVBAR
 * ----------------
 */

.navbar{
    background: #fff;
    height: 70px;
    margin-bottom: 0;
    border-bottom: 1px solid #cbcbcb;
}

.navbar .navbar-header > .navbar-brand{
    padding: 12px 20px;
}

.navbar .navbar-header > .navbar-brand > img {
    max-height: 45px;
}

.navbar .navbar-right{
    padding: 0;
}

.navbar .navbar-right > li > a{
    color: #111;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 13px;
}

.navbar .navbar-right > li > a:hover{
    color: #d02355;

}
.navbar .navbar-right > li > a.active{
    color: white;
    background: #b8204c;
}

.navbar .navbar-right > li > a.user-link {
    padding-top: 20px;
}

.navbar .navbar-right > li > a.user-link > img{
    height: 20px;
}


.navbar .navbar-right > li.open > a.user-link{
    background: #d02355;
}

/**
 * WRAPPER
 * -----------------
 */

.wrapper {
    min-height: 800px;
    margin-top: 70px;
}

/**
 * HEADER
 * -----------------
 */

.wrapper > header{
    height: 660px;
    background: url('../img/banner.jpg');
    background-position: center center;
    background-size: cover;
}

.wrapper > header.nas-tym{
    background: url('../img/tym-header.jpg');
    background-position: center center;
    background-size: cover;
    position: relative;
}

.wrapper > header.cviceni-s-detmi{
    height: 560px;
    background: url('../img/cviceni-s-detmi-header.jpg');
    background-position: center center;
    background-size: cover;
    position: relative;
}

.wrapper > header .container{
    text-align: center;
}

.wrapper > header  .claims-bottom{
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
}

.wrapper > header  h1{
    color: white;
    font-size: 50px;
    margin-top: 110px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
}

.wrapper > header h2{
    font-size: 18px;
    font-weight: 200;
    color: white;
    margin-top: 50px;
    line-height: 26px;
}


.wrapper > header .claims-bottom .container h2{
    margin-top: 10px;
}

.wrapper > header > .container > .btn{
    background: #d02355;
    color: white;
    text-transform: uppercase;
    padding: 8px 20px;
    font-weight: 200;
    border-radius: 25px;
    margin-top: 20px;
    letter-spacing: 1px;
    font-size: 18px;
}

.wrapper > header > .container > .page-scroll{
    display: block;
    margin-top: 225px;
}

.wrapper > header > .container > .page-scroll > img{
    max-width: 18px;
}

/**
 * CONTENT SECTIONS
 * --------------------
 */

.wrapper > section{
    padding-top: 40px;
    padding-bottom: 60px;
}

.wrapper > section .container {
    text-align: center;
    max-width: 920px;
}

.wrapper > section .container.wider {
    max-width: 1120px;
}

.wrapper > section .container > h3{
    font-size: 2.0em;
    font-weight: normal;
    color: #ce2554;
    padding-top: 30px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.wrapper > section .container > h4{
    font-size: 19px;
    padding: 0;
    font-weight: normal;
    line-height: 24px;
    color: white;
}

.wrapper > section .container > p{
    max-width: 800px;
    margin: auto;
    font-size: 1.75em;
    line-height: 1.2em;
    padding: 10px;
    padding-bottom: 30px;
    font-weight: lighter;
    color: #333;
}

/**
 * REFERENCES
 * ---------------------
 */

.wrapper > section .container .references{

}

.wrapper > section .container .references > .separator{
    width: 70%;
    background: #5e2b7e;
    height: 1px;
    display: block;
    margin: 35px auto;
}

.wrapper > section .container .references .user-image > img{
    max-width: 100%;
}

.wrapper > section .container .references .user-info {
    text-align: left;
    padding-top: 10px
}

.wrapper > section .container .references .user-info > .name{
    font-size: 3.5em;
    font-weight: normal;
    color: #361748;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.wrapper > section .container .references .user-info > p{
    font-size: 14px;
    text-align: left;
    color: #361748;
}

/**
 * VYHODY
 * --------------------
 */

.wrapper > section.vyhody h3{
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 400;
}

.wrapper > section.vyhody ul{
    margin-top: 50px;
}

.wrapper > section.vyhody ul li{
    list-style: circle;
    color: white;
    font-weight: 300;
    font-size: 2.3em;
    padding: 5px 10px;
    text-align: left;
    margin-bottom: 15px;
}

/**
 * BUTTON SECTION
 * --------------------
 */

.wrapper > section.button-section .container .claim-button{
    font-size: 3.3em;
    padding: 20px;
    display: block;
    width: 100%;
    text-align: center;
    background: #2f1747;
    color: white;
}

.wrapper >section.button-section .container .claim-button:hover{
    background: #22173a;
    text-decoration: none;
}

/**
 * TRAINERS
 * --------------------
 */

.wrapper > section.trainers .container .row{
    padding-top: 20px;
}

.wrapper > section.trainers h3{
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 50px;
}

.wrapper > section.trainers .trainer .image > img{
    max-width: 190px;
    margin:5px auto;
}

.wrapper > section.trainers .trainer h4{
    letter-spacing: 1px;
    color: white;
    font-size: 2.0em;
    font-weight: 300;
}

.wrapper > section.trainers .trainer .description{
    background: white;
    max-width: 230px;
    margin: 10px auto;
    margin-top: 25px;
    color: #361748;
    padding: 10px 20px;
    font-size: 14px;
    text-align: justify;
}


/**
 * VYHODY
 * --------------------
 */

.wrapper > section.router ul{
    margin-top: 50px;
}

.wrapper > section.router .container {
    max-width: 1400px;
    padding: 20px 40px;
}

.wrapper > section.router .container .row {
    margin-top: 100px;
    height: 160px;
}

.wrapper > section.router .container > .row > div > .button{
    background: rgba(208, 35, 85, 0.8);
    min-height: 80px;
    margin: 10px auto;
    color: #ddd;
    width: 90%;
    font-size: 2.0em;
    display: table;
    font-weight: 600;
    text-align: center;
}

.wrapper > section.router .container > .row > div > .button:hover{
    background: rgba(191, 28, 49, 0.85);
    text-decoration: none;
}

.wrapper > section.router .container > .row > div > .button > span {
    display: table-cell;
    vertical-align: middle;
}

/**
 * steps
 */

.wrapper > section .container.steps{
    max-width: 1200px;
}

.wrapper > section .container.steps .step .heading{
    background: url('../img/heading-bg.png');
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    height: 90px;
}

.wrapper > section .container.steps .step .heading > img{
    max-width: 50px;
    margin-top: 18px;
}

.wrapper > section .container.steps .step p {
    padding-right: 20px;
    padding-left: 0;
    max-width: 300px;
    margin: auto;
    color: #333;
    font-size: 15px;
    text-align: center;
}

.wrapper > section .container.steps .step p.subheader {
    font-weight: bold;
    margin-top: 30px;
    padding-bottom: 10px;
}
/**
 * WHITE CONTENT
 * --------------------
 */

.wrapper > section.white-content h3{
    color: #000;
    font-size: 3.3em;
    font-weight: normal;
}

.wrapper > section.white-content .header-separator{
    background: #361748;
    height: 4px;
    max-width: 180px;
    margin: 15px auto;
}

.wrapper > section.white-content p {
    color: #888;
    font-size: 15px;
    text-align: center;
}

.wrapper .container .heading-separator{
    max-width: 150px;
    background: #d02355;
    height: 4px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

/**
 * PROMĚNY
 * ---------------------
 */

.wrapper > section.changes > .container{
    max-width: 1200px;
}

.wrapper > section.changes > .container > .item{

}

.wrapper > section.changes > .container > .item > div{
    padding: 15px;
}

.wrapper > section.changes > .container > .item > .image{
    text-align: center;
    padding: 20px;
}

.wrapper > section.changes > .container > .item > .image > img{
    max-width: 170px;
}

.wrapper > section.changes > .container > .item > .image > .info{
    margin-top: 15px;
    background: #fff;
    padding: 10px 20px;
}

.wrapper > section.changes > .container > .item > .image > .info .name{
    font-size: 14px;
}

.wrapper > section.changes > .container > .item > .image > .info .age{
    font-size: 13px;
}

.wrapper > section.changes > .container > .item > .image > .info .quote{
    color: #361748;
    padding-top: 5px;
    font-style: italic;
}

.wrapper > section.changes > .container > .item .note{
    background: #fff;
    min-height: 275px;
    padding: 15px 25px;
}

.wrapper > section.changes > .container > .item .note > h3{
    font-size: 2.06em;
    font-weight: lighter;
    color: #361748;
}

.wrapper > section.changes > .container > .item .note .header-separator{
    margin-top: 20px;
    height: 3px;
    margin-bottom: 25px;
}

.wrapper > section.changes > .container > .item .note > p{
    font-size: 15px;
    line-height: 22px;
    color: #361748;
    padding-bottom: 20px;
}

.wrapper > section.changes > .container > .item .note > .see-more{
    background: #361748;
    color: white;
    padding: 10px 25px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: lighter;
}

.wrapper > section.changes > .container > .item .note > .see-more:hover{
    text-decoration: none;
}

.wrapper > section .container .row-separator{
    height: 1px;
    background: #361748;
    max-width: 400px;
    width: 100%;
    margin: 15px auto;
}

.wrapper > section .pagination > li > a,
.wrapper > section .pagination > li > a:focus{
    background: #4e2257;
    color: white;
    font-size: 15px;
    font-weight: lighter;
    margin: 0 5px;
    border-radius: 0;
    border: 0;
}

.wrapper > section .pagination > li > a:hover,
.wrapper > section .pagination > li > a:active,
.wrapper > section .pagination > li.active > a{
    background: #361748;
}

/**
 * ---------------------
 * SECTION SETTINGS
 * ---------------------
 */

.wrapper > section.bg-white{
    padding-top: 60px;
    padding-bottom: 80px;
}

.wrapper > section.bg-white .carousel{
    margin-bottom: 25px;
}

.wrapper > section.bg-white .carousel-indicators{
    bottom: -50px;
}

.wrapper > section.bg-white .carousel-indicators li{
    background: #333;
    border-color: #333;
}

.wrapper > section.bg-white .carousel-indicators .active{
    background: #d01d33;
    border-color: #d01d33;
}

.wrapper > section.bg-white .carousel .item{
    min-height: 150px;
}

.wrapper > section.bg-white .carousel .item h3{
    font-size: 36px;
    font-weight: 600;
}

.wrapper > section.bg-white .carousel .item small{
    color: #9d9d9d;
    font-size: 14px;
    font-weight: bold;
}


.wrapper > section.bg-white .carousel .item p{
    color: #9d9d9d;
    font-size: 15px;
}

.wrapper > section.bg-food{
    background: url('../img/bg-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 350px;
    display: table;
    width: 100%;
}

.wrapper > section.bg-food .container{
    display: table-cell;
    vertical-align: middle;
}

.wrapper > section.bg-purple{
    background: #ca2452;
    color: white;
}

.wrapper > section.bg-purple h3{
    font-size: 2.0em;
    color: white;
}

.wrapper > section.bg-purple .heading-separator{
    background: #fff;
    height: 4px;
    max-width: 180px;
    margin: 15px auto;
}

.wrapper > section.bg-purple p{
    color: #ddd;
}

.wrapper > section.no-padding-top{
    padding-top: 0;
}

.wrapper > section.no-padding{
    padding: 0;
}

.wrapper > section.example-3{
    position: relative;
    background: url('../img/3-stock.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0;
}

.wrapper > section.example-3 .container{
    height: 400px;
}

.wrapper > section.router{
    background: url(../img/router-bg.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 400px;
}

.wrapper > section.button-section{
    padding: 80px 0;
}

.wrapper > section.white-content{
    color: #333;
    font-weight: normal;
    font-size: 13px;
}

/**
 * ---------------------
 * HEADERS
 * ---------------------
 */

.wrapper > section > .container h1.tab-label{
    color: white;
    padding-top: 5px;
    padding-bottom: 2px;
    margin-bottom: 10px;
    font-size: 2.2em;
    margin-left: 25px;
    text-transform: uppercase;
    width: auto;
    display: inline-block;
    float: left;
    font-weight: 300;
    border-bottom: 2px solid #fff;
}

/**
 * ----------------------
 * FOOTER
 * ----------------------
 */

footer{
    color: #ebebeb;
}

footer > .top{
    background: #373737;
    padding: 40px 0;
}

footer .bottom{
    background: #323232;
    font-style: italic;
    color: #fff;
}

footer > div > .container{
    padding: 10px 5px;
}


footer .container h2{
    text-transform: uppercase;
    font-size: 1.65em;
    color: #fcfcfc;
    padding-top: 30px;
}

footer .container h2:first-child{
    margin-top: 0;
    padding-top: 0;
}

footer .container .heading-separator{
    max-width: 60px;
    background: #d02355;
    height: 4px;
}

footer > div > .container .product{
    text-align: center;
    margin-bottom: 15px;
}

footer > div > .container .product p{
    padding: 20px 5px;
    font-size: 15px;
    font-weight: lighter;
}

footer .container ul{
    list-style: none;
    margin-top: 10px;
    padding-left: 0;
}

footer .container ul > li{
    padding-top: 4px;
}

footer .container ul > li > a{
    color: #eee;
    font-style: italic;
    font-size: 14px;
    font-weight: lighter;
    margin-top: 8px;
}

footer .container .newsletter{
    padding-top: 15px;
}

footer .container .newsletter .form-control{
    border-radius: 0;
    color: #d01d33;
}

footer .container .newsletter .input-group-btn .btn{
    background: none;
    color: #d01d33;
    padding-top: 2px;
}

footer .container .newsletter .input-group-btn .btn > span{
    font-size: 2em;
}

footer .container .social-sites{
    text-align: left;
    padding-top: 15px;
    padding-bottom: 30px;
}

footer .container .social-sites a{
    padding-right: 20px;
}

footer .container .social-sites a > img{
    max-width: 35px;
}

/**
 * -----------------
 * MADE BY
 * -----------------
 */

footer > .made-by {
    text-align: center;
    max-width: 360px;
    margin: 30px auto;
    margin-bottom: 0;
}

footer > .made-by .separator {
    background: #eee;
    height: 1px;
    width: 100%;
    max-width: 240px;
    margin: auto;
    margin-bottom: 20px;
}

footer > .made-by span {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    font-weight: normal;
    font-size: 16px;
}

footer > .made-by > a > img{
    width: 180px;
    padding-top: 20px;
}

/**
 * =======================
 * BUTTONS
 * =======================
 */


.wrapper > section.btn-section{
    width: 100%;
    display: table;
    text-align: center;
}

.wrapper > section.btn-section >.container {
    display: table-cell;
    vertical-align: middle;
}

.button{
    font-weight: lighter;
    padding: 8px 12px;
}

.button:hover{
    text-decoration: none;
}

.button.white-bordered{
    font-size: 2em;
    color: #fff;
    max-width: 180px;
    width: 100%;
    display: block;
    margin: auto;
    text-transform: uppercase;
    border: 3px solid #fff;
}

.button.white-bordered:hover{
    background: white;
    color: #333;
}

.button.purple{
    text-transform: uppercase;
    background: #361748;
    color: white;
    padding: 12px 25px;
    font-size: 1.8em;
    margin: 0 20px;
}

.button.purple:hover{
    background: #2e1747;
}

/**
 * Carousel
 */

.carousel-control.left > img,
.carousel-control.right > img{
    top: 50%;
    position: absolute;
    height: 200px;
    margin-top: -100px;
}

.stories .carousel-control.left,
.stories .carousel-control.right{
    background-image: none;
    background: #f3f3f3;
}

/**
 * Stories
 */
.carousel-inner .item .story{
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    margin-bottom: 5px;
    margin-top: 5px;
}

.carousel-control:focus{
    opacity: 0.5;
}

.carousel-control:hover{
    opacity: 0.9;
}

.carousel-inner .item .story{
    position: relative;
}

.carousel-inner .item .story .profile{
    padding: 20px;
    background: #ca2452;
    color: white;
}

.carousel-inner .item .story .profile img{
    max-width: 130px;
}

.carousel-inner .item .story .name{
    font-weight: bold;
    font-size: 16px;
    padding-top: 15px;
}

.carousel-inner .item .story .age{
    font-weight: 400;
    font-size: 15px;
}

.carousel-inner .item .story .col-md-9{
    text-align: left;
}

.carousel-inner .item .story h4{
    color: #ca2452;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 5px;
    font-size: 1.6em;
}

.carousel-inner .item .story .heading-separator{
    max-width: 100px;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 15px;
}

.wrapper > section.bg-white .carousel .item .story p{
    color: #333;
    font-size: 16px;
    padding-top: 5px;
    padding-right: 10px;
}

.wrapper > section.bg-white .carousel .item .full-story-btn{
    background: #ca2452;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    font-size: 15px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-transform: uppercase;
}

/**
 *Trainers
 */

.wrapper > section.trainers{
    padding-bottom: 0;
}

.wrapper > section.trainers .info{
    padding-top: 30px;
    padding-bottom: 160px;
}

.wrapper > section.trainers .info h3{
    font-size: 36px;
    font-weight: 600;
    color: #333;
    padding: 0;
}

.wrapper > section.trainers .info small{
    color: #9d9d9d;
    font-size: 14px;
    font-weight: bold;
}


.wrapper > section.trainers .info p{
    color: #333;
    font-size: 15px;
}

.wrapper > section.trainers > .people{
    background: url('../img/trainers-bg.jpg') center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

.wrapper > section.trainers > .people > .container .row{
    margin-top: -125px;
}

.wrapper > section.trainers > .people > .container .row > div > img{
    max-height: 220px;
}

.wrapper > section.trainers > .people > .container .row > div > .name{
    color: white;
    padding-top: 15px;
    font-style: italic;
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 20px;
}

.wrapper > section.trainers > .people > .container .row > div > .description{
    color: white;
    font-weight: lighter;
    font-size: 16px;
    padding: 5px 20px;
    margin-bottom: 30px;
}

.wrapper > section.trainers > .people > .container .row > div > .btn-action{
    border-radius: 16px;
    background: #fff;
    color: #ca2452;
    padding: 8px 14px;
}

/**
 * Videos
 */

.wrapper > section.videos{
    padding-top: 0;
}

.wrapper > section.videos > .claim {
    background: url('../img/claim-bg.png') center center;
    min-height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
}

.wrapper > section.videos > .claim > h3 {
    color: #fff;
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 2.5em;
}

.wrapper > section.videos > .container {
    margin-top: -100px;
}

.wrapper > section.videos > .container .video{
    padding: 20px 30px;
    position: relative;
}

.wrapper > section.videos > .container .play{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -22.5px;
}

.wrapper > section.videos > .container .play > img {
    width: 50px;
    height: 55px;
}

.wrapper > section.videos > .container .video > img{
    width: 100%;
}

/**
 * Vyzkoušet
 */

.wrapper > section.try-it {
    width: 100%;
    background: url('../img/try-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0;
}

.wrapper > section.try-it > .container {
    min-height: 600px;
}

.wrapper > section.try-it .try-it-button{
    background: #ca2452;
    color: white;
    padding: 16px 20px;
    font-size: 2.2em;
    text-transform: uppercase;
    font-weight: lighter;
    text-decoration: none;
}


/**
 * Tabs
 */

.wrapper > section.tabs{
    margin: 0;
    padding: 0;
    background: #fff;
}

.wrapper > section.tabs > .row{
    margin: 0;
}

.wrapper > section.tabs > .container{
    max-width: 1400px;
}

.wrapper > section.tabs .links{
    padding: 0;
}

.wrapper > section.tabs .links > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper > section.tabs .links > ul > li{
    border-top: 1px solid #ccc;
}

.wrapper > section.tabs .links > ul > li:first-child{
    border-top: 0;
}

/*
    $Výška tabu = 80px
    $Počet tabů = 5
*/

.wrapper > section.tabs .links > ul > li > a{
    display: block;
    padding: 10px 14px;
    color: #111;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    height: 80px; /* $výška PX */
    line-height: 60px;
    border: 0;
}

.wrapper > section.tabs .links > ul > li > a.active,
.wrapper > section.tabs .links > ul > li > a:hover{
    background: #d02355;
    color: white;
    position: relative;
    text-decoration: none;
}

.wrapper > section.tabs .links > ul > li > a.active::after{
    content: "";
    background: url('../img/tab-arrow.png');
    background-size: contain;
    width: 50px;
    height: 81px; /* $výška PX */
    position: absolute;
    top: 0;
    right: -49px;
    background-repeat: no-repeat;
    z-index: 100;
}

.wrapper > section.tabs .tab{
    display: none;
}

.wrapper > section.tabs .tab.active{
    display: block;
}


.wrapper > section.tabs .content{
    padding: 0;
    height: 400px; /* $počet * $výška PX */
}

.wrapper > section.tabs .content img{
    height: 100%;
    width: 100%;
}

/**
 * Single tabs
 */

.tabs .tab{
    height: 100%;
    width: 100%;
}

#tab_1{
    background: url('../img/girl-stretching.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/**
 * Info with photo
 */

.wrapper > section.info-photo{
    background: rgba(99, 25, 75, 0.05);
    height: 400px;
    position: relative;
}

.wrapper > section.info-photo .photo{
    position: absolute;
}

.wrapper > section.info-photo .photo.top{
    top: -100px;
}

.wrapper > section.info-photo .photo.bottom{
    bottom: 0;
}

.wrapper > section.info-photo .photo.left{
    left: 100px;
}

.wrapper > section.info-photo.white{
    background: #f8f8f9;
}

/**
 * Play Button
 */

.play-button {
    background: url('../img/play-button.png');
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 86px;
    margin-left: -35px;
    margin-top: -43px;
}

.play-button:hover {
    background: url('../img/play-button-hover.png');
    background-size: cover;
}

.admin-navbar {
    background: #fff;
    height: 50px;
    margin-bottom: 0;
    border-bottom: 1px solid #cbcbcb;
}
.admin-wrapper {
    margin: 35px;
}

.wrapper-admin {
    margin: 0
}
