/*
 * CSS Reset
 */

@import "libraries_imports/reset.less";


/*
 * Bootstrap
 */

// Core variables and mixins
@import "components/bootstrap/variables.less";
@import "components/bootstrap/mixins.less";

// Reset and dependencies
@import "components/bootstrap/normalize.less";
@import "components/bootstrap/print.less";

// Core CSS
@import "components/bootstrap/scaffolding.less";
@import "components/bootstrap/type.less";
@import "components/bootstrap/code.less";
@import "components/bootstrap/grid.less";
@import "components/bootstrap/tables.less";
@import "components/bootstrap/forms.less";
@import "components/bootstrap/buttons.less";

// Components
@import "components/bootstrap/component-animations.less";
@import "components/bootstrap/dropdowns.less";
@import "components/bootstrap/button-groups.less";
@import "components/bootstrap/input-groups.less";
@import "components/bootstrap/navs.less";
@import "components/bootstrap/navbar.less";
@import "components/bootstrap/breadcrumbs.less";
@import "components/bootstrap/pagination.less";
@import "components/bootstrap/pager.less";
@import "components/bootstrap/labels.less";
@import "components/bootstrap/badges.less";
@import "components/bootstrap/jumbotron.less";
@import "components/bootstrap/thumbnails.less";
@import "components/bootstrap/alerts.less";
@import "components/bootstrap/progress-bars.less";
@import "components/bootstrap/media.less";
@import "components/bootstrap/list-group.less";
@import "components/bootstrap/panels.less";
@import "components/bootstrap/responsive-embed.less";
@import "components/bootstrap/wells.less";
@import "components/bootstrap/close.less";

// Components w/ JavaScript
@import "components/bootstrap/modals.less";
@import "components/bootstrap/tooltip.less";
@import "components/bootstrap/popovers.less";
@import "components/bootstrap/carousel.less";

// Utility classes
@import "components/bootstrap/utilities.less";
@import "components/bootstrap/responsive-utilities.less";


@import "components/fresh/index.less";

/*
 * Font-awesome
 */

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@fa-font-path: "../fonts/";

@font-face {
    font-family: 'FontAwesome';
    src: url('@{fa-font-path}/@{fa-font-name}.eot');
    src: url('@{fa-font-path}/@{fa-font-name}.eot') format('embedded-opentype'),
    url('@{fa-font-path}/@{fa-font-name}.woff2') format('woff2'),
    url('@{fa-font-path}/@{fa-font-name}.woff') format('woff'),
    url('@{fa-font-path}/@{fa-font-name}.ttf') format('truetype'),
    url('@{fa-font-path}/@{fa-font-name}.svg#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import "components/font-awesome/font-awesome/variables";
@import "components/font-awesome/font-awesome/mixins";
@import "components/font-awesome/font-awesome/core";
@import "components/font-awesome/font-awesome/larger";
@import "components/font-awesome/font-awesome/fixed-width";
@import "components/font-awesome/font-awesome/list";
@import "components/font-awesome/font-awesome/bordered-pulled";
@import "components/font-awesome/font-awesome/animated";
@import "components/font-awesome/font-awesome/rotated-flipped";
@import "components/font-awesome/font-awesome/stacked";
@import "components/font-awesome/font-awesome/icons";
@import "components/font-awesome/font-awesome/screen-reader";

/**
 * ------------------------------------
 * Librarires Import
 */

@import "components/buttons";
@import "components/animate";