/*
    http://creativecompany.cz
    @author: kynclmilan
    CCFramework
*/

@import "import";

/**
 * ------------------------------------
 * Definition of Colors
 */

@pink: #be3555;
@purpleMain: #ce2554;
@purpleMainActive: #bc234e;

@innerContainerWidth: 57rem;

/*
 * Delsyn design
 * -------------------------------------
 */

html,
body {
    color: #5a5a5a;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    height: 100%;

    @media screen and (min-width: 2000px){
        font-size: 19px;
    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.wrapper {
    flex: 1;
    background: #f3f3f3;
    padding-top: 75px;
}

/**
 * Navbar
 * -----------
 */

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.09);
    z-index: 300;
    border-radius: 0;

    .navbar__container {
        width: 100%;

        padding: 0 15px;
        margin-top: 5px;
        margin-bottom: 5px;

        display: flex;
        justify-content: space-between;
    }

    .navbar__logo {
        padding: 15px 0;

        > a {
            display: block;
            height: 35px;

            > img {
                height: 100%;
            }
        }
    }

    .navbar__menu {
        margin: 5px 0;
        height: 50px;
        text-align: right;

        .navbar__menu__cart {

            display: inline-block;
            margin-right: 1rem;
            margin-top: 0.6rem;
            position: relative;

            > svg {
                width: 2rem;
                height: 1.55rem;
                fill: #888;
            }

            .badge {
                position: absolute;
                bottom: 0;
                right: -0.5rem;
                background: @purpleMain;
                border-radius: 50%;
                width: 1rem;
                height: 1rem;

                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                text-align: center;

                > span {
                    color: #fff;
                    font-weight: 300;
                    font-size: 0.75rem;
                }
            }

            &:hover > svg {
                fill: @purpleMainActive;
            }
        }

        .navbar__menu__user {
            display: inline-block;
            vertical-align: top;
            padding-right: 15px;
            box-sizing: border-box;
            cursor: pointer;
            text-decoration: none;

            .navbar__menu__user__info {
                display: inline-block;
                height: 50px;
                padding-right: 10px;

                .user__name {
                    color: @pink;
                    border-bottom: 1px solid #353535;
                    font-size: 0.825rem;
                    padding-top: 0.175rem;
                    padding-bottom: 0.085rem;
                }

                .user__credit {
                    color: #2b2b2b;
                    padding-top: 0.125rem;
                    font-size: 0.625rem;
                    text-align: center;
                    text-transform: uppercase;
                }
            }

            .navbar__menu__user__photo {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 2px solid transparent;
                vertical-align: top;
            }

            &:hover {

                .navbar__menu__user__photo {
                    border: 2px solid @pink;
                }

                .user__name {
                    font-weight: 400;
                }
            }
        }

        .navbar__menu__toggle {

            display: inline-block;
            height: 30px;
            width: 40px;
            position: relative;
            top: -1px;

            span {
                position: absolute;
                top: 50%;
                left: 3px;

                &:before {
                    top: -10px;
                }

                &:after {
                    bottom: -10px;
                }
            }

            span,
            span:after,
            span:before {
                cursor: pointer;
                border-radius: 1px;
                height: 5px;
                width: 34px;
                background: #898888;
                position: absolute;
                display: block;
                content: '';
            }

            &:hover,
            &.navbar__menu__toggle--open{
                span,
                span:before,
                span:after {
                    background: #be3555;
                }
            }
        }
    }
}

.user-menu {
    position: fixed;
    right: -300px;
    height: 100vh;
    top: 0;
    z-index: 200;
    background: @pink;
    width: 300px;
    padding-top: 100px;

    transition: right 0.3s ease-in-out;

    &.user-menu--open {
        right: 0;
    }

    .user-menu__links {
        margin-top: 1rem;

        > li {
            padding-right: 1rem;
            text-align: right;

            > a {
                display: inline-block;
                font-size: 0.875rem;
                text-decoration: none;
                color: #f9f9f9;
                text-transform: uppercase;
                font-weight: 300;
                position: relative;
                padding: 0.715rem 0;

                &:after {
                    content: ' ';
                    width: 0.75rem;
                    background: #fff;
                    bottom: -0.175rem;
                    position: absolute;
                    right: 0;
                    height: 1px;

                    transition: width 0.3s ease-in-out;
                }

                &:hover {
                    color: #fff;

                    &:after {
                        width: 100%;
                    }
                }
            }
        }

        .user-menu__links__link--bold > a {
            font-weight: 600;
        }
    }
}


/**
 * Wrapper Main
 */

.wrapper__main {

    padding-top: 2rem;

    .content {
        .fresh-container();

        .fresh-row();
        .fresh-row--space();
    }

    .content__header {
        .fresh-row();
        .fresh-row--middle();

        height: 60px;

        margin-bottom: 0.855rem;

        &:first-of-type {
            margin-bottom: 2rem;
        }

        .content__header__toolbox {
            .make-fresh-xs-column(24);
            .make-fresh-sm-column(6);
        }

        .content__header__heading {
            .make-fresh-xs-column(24);
            .make-fresh-md-column(12);
            text-align: center;
            color: #000000;
            font-size: 1.375rem;
            font-weight: 400;
            text-transform: uppercase;
        }
    }

    .content__header--center {
        .fresh-row--center();
    }

    .content__header--padded {
        margin-top: 1rem;
    }

    .daily-plan {
        .make-fresh-xs-column(24);
        .make-fresh-sm-column(16);

        .daily-plans {
            box-sizing: border-box;
            .fresh-row();

            margin-right: 2rem;
            width: auto;

            .daily-plans__item {
                .make-fresh-xs-column(24);
                .fresh-row();

                background: #fff;
                margin-bottom: 2.125rem;
            }

            .daily-plans__item__info {

                .fresh-row();
                .fresh-row--middle();

                flex: 1;
                display: inline-flex;
                text-align: center;

                padding: 2rem 0;
            }

            .daily-plans__item__info__lector {
                .make-fresh-xs-column(24);
                .make-fresh-sm-column(8);
                text-align: center;

                > img {
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                    display: block;
                    margin: auto;
                    margin-bottom: 10px;
                }

                .lector__name {
                    color: #000;
                    display: block;
                    font-size: 0.775rem;
                    font-weight: 700;
                    text-transform: uppercase;
                }

                .lector__description {
                    color: #000;
                    font-size: 0.75rem;
                    font-weight: 300;
                    font-style: italic;
                    max-width: 80%;
                    margin: 0 auto;
                    margin-top: 5px;
                }
            }

            .daily-plans__item__info__lection {
                .make-fresh-xs-column(24);
                .make-fresh-sm-column(16);
                text-align: center;

                .lection__name {
                    color: @purpleMain;
                    display: block;
                    font-size: 1.575rem;
                    font-weight: 400;
                    text-transform: uppercase;
                    padding-bottom: 0.75rem;
                }

                .lection__motto {
                    color: #000;
                    display: block;
                    font-size: 0.838rem;
                    max-width: 300px;
                    font-weight: 700;
                    position: relative;
                    padding: 0.75rem 0;
                    margin: 0.4rem auto;

                    &:before {
                        position: absolute;
                        content: ' ';
                        width: 2.5rem;
                        height: 0.188rem;
                        left: 50%;
                        top: -0.188rem;
                        transform: translate(-50%, 0);
                        background: @purpleMain;
                    }

                    &:after {
                        position: absolute;
                        content: ' ';
                        width: 2.5rem;
                        height: 0.188rem;
                        left: 50%;
                        bottom: -0.188rem;
                        transform: translate(-50%, 0);
                        background: @purpleMain;
                    }
                }

                .lection__description {
                    color: #000;
                    font-size: 0.75rem;
                    font-weight: 300;
                    font-style: italic;
                    max-width: 80%;
                    margin: 0 auto;
                    margin-top: 15px;
                }
            }


            .daily-plans__item__button {

                display: inline-flex;
                max-width: 180px;

                background: @purpleMain;
                color: #fff;
                padding: 0 1.5rem;
                text-align: center;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 0.925rem;
                text-decoration: none;
                .fresh-vertical-align-middle();

                &:hover {
                    background: @purpleMainActive;
                }
            }
        }
    }

    .food-plan {
        .make-fresh-xs-column(24);
        .make-fresh-sm-column(8);

        .food-menu {
            box-sizing: border-box;
            .fresh-row();
            .fresh-row--space();

            margin-left: 2rem;
            width: auto;

            .food-menu__item {
                .make-fresh-xs-column(24);
                .make-fresh-sm-column(12);
                margin-bottom: 1.35rem;

                .menu {
                    width: 100%;
                    padding-top: 100%;
                    background: url(../img/food-menu.jpg) center center no-repeat;
                    background-size: cover;
                    position: relative;
                }

                .menu__overlay {
                    background: rgba(0, 0, 0, 0.6);
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    padding: 1rem;
                    overflow: hidden;
                    display: block;

                    transition: height 0.3s ease-in-out;

                    text-transform: uppercase;

                    .menu__name {
                        font-size: 1.325rem;
                        font-weight: 300;
                        color: #fff;
                        display: block;
                    }

                    .menu__description {
                        color: #f9f9f9;
                        font-size: 0.725rem;
                        font-weight: 300;
                        padding-top: 0.25rem;
                    }

                    .menu__author {
                        height: 1.95rem;
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        display: flex;
                        align-items:center;
                        left: 0;
                        padding: 0 0.5rem;
                        padding-bottom: 0.45rem;

                        > img {
                            width: 1.4rem;
                            border-radius: 50%;
                            display: inline-block;
                        }

                        span {
                            line-height: 1.4rem;
                            color: #fff;
                            font-size: 0.6rem;
                            display: inline-block;
                            padding-left: 0.4rem;
                        }
                    }
                }

                &:hover {
                    .menu__overlay {
                        .menu__name {
                            color: @purpleMain;
                        }
                    }
                }

                &:nth-of-type(even) {
                    padding-left: 0.675rem!important;
                }

                &:nth-of-type(odd) {
                    padding-right: 0.675rem!important;
                }

            }
        }

        /**
         * Active links
         */

        .active-links {
            box-sizing: border-box;
            .fresh-row();
            .fresh-row--space();

            margin-left: 2rem;
            width: auto;

            .active-links__item {
                .make-fresh-xs-column(24);
                .make-fresh-sm-column(12);
                margin-bottom: 1.35rem;

                .bg {
                    width: 100%;
                    padding-top: 100%;
                    background: @purpleMain;
                    position: relative;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                        width: 60%;
                    }
                }

                &:hover {
                    .bg {
                        background: @purpleMainActive;
                    }
                }

                &:nth-of-type(even) {
                    padding-left: 0.675rem!important;
                }

                &:nth-of-type(odd) {
                    padding-right: 0.675rem!important;
                }

            }
        }
    }

    .content__blog {
        .make-fresh-xs-column(24);

        .content__header__heading {
            padding-left: 13rem;
        }

        .blog {
            max-width: 57rem;
            margin: auto;

            .article {
                .fresh-row();

                margin-bottom: 2.5rem;
            }

            .article__author {

                width: 13rem;

                > .article__author__photo > img {
                    margin: 1rem 0;
                    margin-right: auto;
                    max-width: 11rem;
                    width: 100%;
                    border-radius: 50%;
                }

                > .article__author__info {
                    margin-right: auto;
                    max-width: 11rem;
                    width: 100%;
                    padding: 0.375rem 1rem;
                    background: @purpleMain;
                }

                .article__author__name {
                    display: block;
                    text-align: center;
                    font-size: 0.875rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #fff;
                }

                .article__date {
                    display: block;
                    margin-top: 0.325rem;
                    text-align: center;
                    font-size: 0.725rem;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: #fff;
                }
            }

            .article__content {
                flex: 1;

                background: #fff;
                padding: 0.75rem 2rem;
            }

            .article__name {
                font-size: 1.475rem;
                font-weight: 700;
                color: #111;
                text-transform: uppercase;
                display: block;
                text-align: center;
                padding-bottom: 1rem;
                position: relative;

                &:after {
                    position: absolute;
                    bottom: -1px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    width: 8.938rem;
                    height: 1px;
                    background: #CCC;
                    content: ' ';
                }
            }


            .article__photo {

                margin: 1rem 0;
                display: inline-flex;
                align-items: center;

                > img {
                    max-width:100%;
                }
            }

            .article__excerpt {
                padding: .7rem 0;
                color: #111;
                font-size: 1rem;
                font-weight: 300;
                text-align: justify;
            }

            .article__read-more {
                border-radius: 1rem;
                width: 7.5rem;
                height: 1.688rem;
                background-color: #ce2554;
                font-size: 0.688rem;
                font-weight: 700;
                text-align: center;
                text-decoration: none;
                margin: 0 auto;
                display: flex;
                color: #fff;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                &:hover {
                    background-color: @purpleMainActive;
                }
            }
        }

        /* Detail příspěvku */

        .article-detail {
            max-width: @innerContainerWidth;
            margin: auto;

            .article {
                .fresh-row();
            }

            .article__author {

                background: #fff;
                width: 13rem;
                margin-right: 1rem;

                > .article__author__photo {
                    width: 100%;
                    background: @purpleMain;

                    > img {
                        display: flex;
                        max-width: 5rem;
                        width: 100%;
                        border-radius: 50%;
                        margin: 0 auto;
                        transform: translate(0, 50%);
                    }
                }

                > .article__author__info {
                    margin-top: 3rem;
                    width: 100%;
                    padding: 0.375rem 1.5rem;
                }

                .article__author__name {
                    display: block;
                    text-align: center;
                    color: #000;
                    font-size: 0.875rem;
                    font-weight: 700;
                    font-style: italic;
                    text-transform: uppercase;

                    .append-fresh-separator(0.5rem, {
                        background: @purpleMain;
                        width: 1.438rem;
                        height: 2px;
                    });
                }

                .article__author__motto {
                    margin: 0.3125rem 0;
                    display: block;
                    text-align: center;
                    color: #000000;
                    font-size: 0.6rem;
                    font-weight: 700;

                    .append-fresh-separator(0.5rem, {
                        background: @purpleMain;
                        width: 1.438rem;
                        height: 2px;
                    });
                }

                .article__author__description {
                    display: block;
                    font-size: 0.6rem;
                    font-weight: 300;
                    font-style: italic;
                    color: #111;
                    text-align: center;
                }
            }

            .article__content {
                flex: 1;

                background: #fff;
                padding: 0.75rem 0;

                > p {
                    padding: 0.325rem 2rem;
                    color: #111;
                    font-size: 1rem;
                    font-weight: 300;
                    text-align: justify;
                }
            }

            .article__name {
                font-size: 1.475rem;
                font-weight: 700;
                color: #111;
                text-transform: uppercase;
                display: block;
                text-align: center;
                padding: 1rem 2rem;
                position: relative;

                &:after {
                    position: absolute;
                    bottom: -1px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    width: 8.938rem;
                    height: 1px;
                    background: #CCC;
                    content: ' ';
                }
            }


            .article__photo {

                margin: 1rem 0;
                display: inline-flex;
                align-items: center;

                > img {
                    max-width:100%;
                }
            }
        }
    }

    .content__calendar {

        .make-fresh-xs-column(24);

        .calendar {
            max-width: @innerContainerWidth;
            margin: 0 auto;

            .calendar__month {
                width: 100%;
                background: #fff;
                display: table;
                border-collapse: collapse;
            }

            .calendar__week {
                display: table-row;
                overflow: hidden;
                width: 100%;
            }

            .calendar__day {
                display: table-cell;
                flex: 1;
                border: 1px solid #cfcfcf;

                > a {
                    display: block;
                    padding: 1rem 0;

                    font-size: 1rem;
                    text-align: center;
                    font-weight: 600;
                    color: #111;
                    border-collapse: separate;
                    text-decoration: none;

                    &:hover {
                        background: @purpleMain;
                        color: #fff;
                    }

                    &.active {
                        background: @purpleMainActive;
                    }
                }
            }

            .calendar__event {
                box-sizing: border-box;
                .fresh-row();

                width: auto;
                background: #fff;

                .calendar__event__item {
                    .make-fresh-xs-column(24);
                    .fresh-row();

                    background: #fff;
                    margin-bottom: 2.125rem;
                }

                .calendar__event__item__info {

                    .fresh-row();
                    .fresh-row--middle();

                    flex: 1;
                    display: inline-flex;
                    text-align: center;

                    padding: 2rem 0;
                }

                .calendar__event__item__info__lector {
                    .make-fresh-xs-column(24);
                    .make-fresh-sm-column(8);
                    text-align: center;

                    > img {
                        width: 90px;
                        height: 90px;
                        border-radius: 50%;
                        display: block;
                        margin: auto;
                        margin-bottom: 10px;
                    }

                    .lector__name {
                        color: #000;
                        display: block;
                        font-size: 0.775rem;
                        font-weight: 700;
                        text-transform: uppercase;
                    }

                    .lector__description {
                        color: #000;
                        font-size: 0.75rem;
                        font-weight: 300;
                        font-style: italic;
                        max-width: 80%;
                        margin: 0 auto;
                        margin-top: 5px;
                    }
                }

                .calendar__event__item__info__lection {
                    .make-fresh-xs-column(24);
                    .make-fresh-sm-column(16);
                    text-align: center;

                    .lection__name {
                        color: @purpleMain;
                        display: block;
                        font-size: 1.575rem;
                        font-weight: 400;
                        text-transform: uppercase;
                        padding-bottom: 0.75rem;
                    }

                    .lection__motto {
                        color: #000;
                        display: block;
                        font-size: 0.838rem;
                        max-width: 300px;
                        font-weight: 700;
                        position: relative;
                        padding: 0.75rem 0;
                        margin: 0.4rem auto;

                        &:before {
                            position: absolute;
                            content: ' ';
                            width: 2.5rem;
                            height: 0.188rem;
                            left: 50%;
                            top: -0.188rem;
                            transform: translate(-50%, 0);
                            background: @purpleMain;
                        }

                        &:after {
                            position: absolute;
                            content: ' ';
                            width: 2.5rem;
                            height: 0.188rem;
                            left: 50%;
                            bottom: -0.188rem;
                            transform: translate(-50%, 0);
                            background: @purpleMain;
                        }
                    }

                    .lection__description {
                        color: #000;
                        font-size: 0.75rem;
                        font-weight: 300;
                        font-style: italic;
                        max-width: 80%;
                        margin: 0 auto;
                        margin-top: 15px;
                    }
                }


                .calendar__event__item__button {

                    display: inline-flex;
                    max-width: 180px;

                    background: @purpleMain;
                    color: #fff;
                    padding: 0 1.5rem;
                    text-align: center;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 0.925rem;
                    text-decoration: none;
                    .fresh-vertical-align-middle();

                    &:hover {
                        background: @purpleMainActive;
                    }
                }
            }
        }
    }

    .content__messages {
        .make-fresh-xs-column(24);
        flex: 1;
        min-height: 100%;

        .messages {
            max-width: 57rem;
            min-height: 70vh;
            margin: auto;
            display: flex;

            .messages__sidebar {
                background: @purpleMain;
                width: 13rem;
                margin-right: 0.325rem;
            }

            .messages__list {
                flex: 1;

                background: #cecac9;
                position: relative;
            }

            .messages__form {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding-top: 0.2rem;
                background: #f3f3f3;

                .messages__form__group {
                    display: flex;
                    white-space: nowrap;
                }
            }

            .messages__form__text {
                background: #e9e9e9;
                height: 2.125rem;
                flex: 1;
                vertical-align: top;
                border: 0;
                padding-left: 0.5rem;
                color: #666;
                font-weight: 300;
                font-size: 0.875rem;
            }

            .messages__form__send {
                background: @purpleMain;
                height: 2.125rem;
                padding: 0.425rem 0.5rem;
                color: #fff;
                margin-left: 0.2rem;
                border: 0;

                > svg {
                    width: 2rem;
                    height: 1.25rem;
                }

                &:hover {
                    background: @purpleMainActive;
                }
            }
        }
    }

    .content__categories {
        .make-fresh-xs-column(24);


        .content__header__heading {
            //padding-left: 13rem;
        }

        .categories {
            max-width: 65rem;
            margin: auto;
            .fresh-row();
            .fresh-row--space();

            .category {
                .make-fresh-xs-column(24);
                .make-fresh-sm-column(8);

                padding: 1rem 1.5rem;
                box-sizing: border-box;
            }

            .category__bg {
                background: url(../img/fitness-joga.jpeg) center center no-repeat;
                background-size: cover;
                position: relative;
                width: 100%;
                padding-top: 13rem;
            }

            .category__caption {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                font-size: 2.125rem;
                font-weight: 300;
                text-transform: uppercase;
                cursor: pointer;

                &:hover {
                    background: rgba(206, 37, 84, 0.5);
                }
            }
        }
    }

    .content__profile {
        .make-fresh-xs-column(24);

        .profile {
            max-width: 57rem;
            margin: auto;

            .fresh-row();

            .profile__info {
                width: 20rem;
                margin-right: 1rem;

                padding: 1rem 1.5rem;
                background: #fff;
                text-align: center;
            }

            .profile__info__title {
                text-align: center;
                font-size: 1.25rem;
                font-weight: 400;
                text-transform: uppercase;
            }

            .profile__info__photo {
                max-width: 80%;
                margin: 1rem auto;
                text-align: center;
            }

            .profile__info__name {
                font-size: 0.813rem;
                font-weight: 400;
                text-transform: uppercase;
                color: #000;
                margin-bottom: 0.5rem;
                display: block;

                .append-fresh-separator(0.5rem, {
                    background: @purpleMain;
                    width: 3.75rem;
                    height: 3px;
                });
            }

            .profile__info__description {
                color: #9e9f9f;
                font-size: 0.813rem;
                font-weight: 400;
                padding: 0.5rem 0.25rem;
            }

            .profile__info__rating {

                .profile__info__rating__label {
                    color: #9e9f9f;
                    font-size: 0.75rem;
                    font-weight: 400;
                    text-transform: uppercase;
                }

                .profile__info__rating__stars {

                    margin-top: .25rem;


                    > a {
                        display: inline-block;
                        padding: 0 0.25rem;
                        cursor: pointer;

                        > svg {
                            stroke: #e1e1e1;
                            stroke-width: 3px;
                            fill: #fff;
                            width: 34px;
                            height: 34px;
                        }

                        &:hover,
                        &.active {
                            > svg {
                                stroke: @purpleMain;
                                fill: @purpleMain;
                            }
                        }
                    }

                    &:after,
                    &:before {
                        clear: both;
                    }

                }
            }

            .profile__content {
                flex: 1;
                background: #fff;
                padding-bottom: 3rem;

                .profile__photo {
                    width: 100%;
                    background: url(../img/profile-header.jpg) center center no-repeat;
                    padding-top: 56.25%;
                    position: relative;

                    .profile__photo__caption {
                        display: flex;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;

                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        text-align: center;

                        color: #ffffff;
                        font-size: 2.5rem;
                        font-weight: 700;
                        font-style: italic;
                        text-transform: uppercase;
                    }
                }

                p {
                    margin: 0 auto;
                    margin-top: 0.75rem;
                    padding: 0 1.5rem;
                    max-width: 33.313rem;
                    color: #000000;
                    font-size: 0.875rem;
                    font-weight: 300;
                    text-align: center;

                    &:first-of-type {
                        margin-top: 3rem;
                    }
                }
            }
        }
    }

    .content__credits {

        .make-fresh-xs-column(24);

        .credits {
            max-width: 57rem;
            margin: auto;

            .fresh-row();

            background: #fff;
            margin-bottom: 2.125rem;

            .credits__status {

                .fresh-row();
                .fresh-row--middle();

                flex: 1;
                display: inline-flex;
                text-align: center;

                padding: 2rem 0;
            }

            .credits__status__field {
                .make-fresh-xs-column(24);
            }

            .credits__status__label {
                color: @purpleMain;
                display: block;
                font-size: 1.575rem;
                font-weight: 400;
                text-transform: uppercase;
                padding-bottom: 0.75rem;

                .append-fresh-separator(0.75rem, {
                    background: #ccc;
                    width: 8.938rem;
                    height: 1px
                });
                margin-bottom: 1rem;
            }

            .credits__status__description {
                display: block;
                max-width: 380px;
                position: relative;
                margin: 0 auto;
                color: #000000;
                padding: 0 0.5rem;
                font-size: 0.925rem;
                font-weight: 300;
            }

            .credits__status__buy {
                border-radius: 1rem;
                width: 7.5rem;
                height: 1.688rem;
                background-color: #ce2554;
                font-size: 0.688rem;
                font-weight: 700;
                text-align: center;
                text-decoration: none;
                margin: 0 auto;
                margin-top: 1rem;
                display: inline-flex;
                color: #fff;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                &:hover {
                    background-color: @purpleMainActive;
                }
            }


            .credits__photo {

                display: inline-flex;
                max-width: 16.25rem;

                background: @purpleMain;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                > img {
                    max-width: 9.125rem;
                    max-height: 8.813rem;

                    width: 100%;
                    height: 100%;
                    margin: 3rem;
                }
            }
        }

        .moves {
            max-width: 57rem;
            margin: auto;

            .fresh-row();
        }

        .moves__item {
            display: flex;
            width: 100%;

            background: #fff;

            margin-bottom: 1.5rem;

            .move__icon {

                flex: initial;
                display: inline-flex;
                flex-shrink: 1;

                > img {
                    width: 3.75rem;
                    height: 3.75rem;
                    margin: 0.5rem 1.5rem;
                }
            }

            .move__time {
                flex: initial;
                display: inline-flex;
                flex-shrink: 1;

                flex-direction: column;
                align-items: center;
                justify-content: center;

                color: #000000;
                font-size: 1.125rem;
                font-weight: 400;
                line-height: 2.438rem;

                padding: 0 2rem;

                position: relative;

                &:before {
                    content: ' ';
                    position: absolute;
                    left: -1px;
                    top: 12.5%;
                    height: 75%;

                    background: #e1e1e1;
                    width: 1px;
                }

                &:after {
                    content: ' ';
                    position: absolute;
                    right: -1px;
                    top: 12.5%;
                    height: 75%;

                    background: #e1e1e1;
                    width: 1px;
                }
            }

            .move__label {
                flex: auto;
                display: inline-flex;

                flex-direction: column;
                align-items: center;
                justify-content: center;

                color: #000000;
                font-size: 1.125rem;
                font-weight: 400;
                line-height: 2.438rem;
                text-transform: uppercase;
            }

            .move__info {

                flex: initial;
                display: inline-flex;

                flex-direction: column;
                align-items: center;
                justify-content: center;

                > a {
                    padding: 0 2rem;
                    display: inline-flex;

                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    > svg {
                        fill: @purpleMain;
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }

        .credits__package {
            max-width: 57rem;
            margin: auto;

            .fresh-row();

            background: #fff;
            margin-bottom: 2.125rem;

            .credits__status {

                .fresh-row();
                .fresh-row--middle();

                flex: 1;
                display: inline-flex;
                text-align: center;

                padding: 2rem 0;
            }

            .credits__status__field {
                .make-fresh-xs-column(24);
            }

            .credits__status__label {
                color: @purpleMain;
                display: block;
                font-size: 1.575rem;
                font-weight: 400;
                text-transform: uppercase;
                padding-bottom: 0.75rem;

                .append-fresh-separator(0.75rem, {
                    background: #ccc;
                    width: 8.938rem;
                    height: 1px
                });
                margin-bottom: 1rem;
            }

            .credits__status__description {
                display: block;
                max-width: 320px;
                position: relative;
                margin: 0 auto;
                color: #000000;
                padding: 0 0.5rem;
                font-size: 1rem;
                line-height: 1.4rem;
                font-weight: 300;
                margin-bottom: 0.5rem;
            }

            .credits__status__buy {
                border-radius: 1rem;
                width: 7.5rem;
                height: 2rem;
                background-color: #ce2554;
                font-size: 0.760rem;
                font-weight: 700;
                text-align: center;
                text-decoration: none;
                margin: 0 auto;
                margin-top: 1rem;
                display: inline-flex;
                color: #fff;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                &:hover {
                    background-color: @purpleMainActive;
                }
            }


            .credits__photo {

                display: inline-flex;
                max-width: 16.25rem;
                width: 100%;

                flex-direction: column;
                justify-content: center;
                align-items: center;

                > img {
                    max-width: 4.225rem;
                    max-height: 5rem;

                    width: 100%;
                    height: 100%;
                }
            }

            &.credits__package--first {
                .credits__photo {
                    background: #88817f;
                    padding: 3rem 0;
                }
            }

            &.credits__package--second {
                .credits__photo {
                    background: #9da9b0;
                    padding: 2rem 0;

                    > img {
                        max-width: 5.825rem;
                        max-height: 6rem;
                    }
                }
            }

            &.credits__package--third {
                .credits__photo {
                    background: @purpleMain;
                    padding: 2rem 0;

                    > img {
                        max-width: 6.825rem;
                        max-height: 6rem;
                    }
                }
            }
        }
    }
}

/**
 *
 */

.button {
    padding: 0.875rem 1.35rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 300;
    border: 0;

    &.button--primary {
        background: @purpleMain;
        color: #fff;

        &:hover {
            background: @purpleMainActive;
        }
    }

    &.button--back {
        background: @purpleMain;
        color: #fff;
        padding: 0.475rem 0.85rem;
        margin-left: 1.5rem;
        position: relative;

        &:after {
            right: 100%;
            top: 50%;
            border: 1.5rem solid rgba(213, 19, 103, 0);
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-right-color: @purpleMain;
            margin-top: -1.5rem;
        }

        &:hover {
            background: @purpleMainActive;

            &:after {
                border-right-color: @purpleMainActive;
            }
        }
    }

    &.button--new-message {
        background: #97244a;
        width: 100%;
        display: block;
        text-align: center;
        color: #fff;

        &:hover {
            background: #7c1e3d;

        }
    }
}

.modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)!important;
}

.modal-content {
    padding: 4rem 0;
    border-radius: 0;
    box-shadow: 0 0 20rem rgba(0, 0, 0, 0.25);
    border-color: #eee;
}

.modal-dialog {

    .modal-close {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        z-index: 10;
        opacity: 0.75;

        > svg {
            height: 100%;
            width: 100%;
            fill: @purpleMain;
        }

        &:hover {

            opacity: 1;

            > svg {
                fill: @purpleMainActive;
            }
        }
    }

    .time-info {
        font-size: 18px;
        font-weight: 400;
        line-height: 39px;

        margin-top: 0.5rem;

        .prepend-fresh-separator(0.6rem, {
            background: #ddd;
            width: 4rem;
            height: 1px;
        });

        .append-fresh-separator(0.6rem, {
            background: #ddd;
            width: 4rem;
            height: 1px;
        });
    }

    .bank-info {
        font-size: 1.5rem;
        font-weight: 600;
        font-style: italic;
        color: #000;
        margin-top: 2rem;
    }
}

.modal-row {
    .fresh-row();

    &:after {
        clear: both;
    }
}

.modal-icon {

    .make-fresh-xs-column(24);
    .make-fresh-md-column(6);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > .icon {
        width: 10.25rem;
        height: 10.25rem;
        background: @purpleMain;
        border-radius: 50%;
        margin: 0 auto;
        position: relative;

        > img {
            max-width: 68%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }
}

.modal-text {

    .make-fresh-xs-column(24);
    .make-fresh-md-column(18);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    .modal-title {
        color: #000;
        font-size: 1.85rem;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 2rem;
        padding-bottom: 0.5rem;
    }

    .modal-subtitle {
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 2rem;
        text-transform: uppercase;
    }

}