/**
 * Buttons plugin
 *
 * @author Milan Kyncl (c) 2016
 * ---------------------------
 * Usage:
 *
 */

/**
 * ===========================
 * Settings:
 * ----------------------------
 * Button size preferences
 * ----------------------------
 *
 * Default Button:
 */

@defaultButtonPadding: 6px 8px;
@defaultButtonFontSize: 0.875rem;
@defaultButtonBorder: 1px solid;

/**
 * Big button preferences:
 */

@bigButtonPadding: 8px 12px;
@bigButtonFontSize: 1rem;
@bigButtonBorder: 1px solid;

/**
 * -----------------
 * Colors:
 * -----------------
 *
 * Dark button
 */

@darkButtonBackground: #23232d;
@darkButtonBorderColor: #23232d;
@darkButtonColor: #fff;

@darkButtonBackground--hover: #23232d;
@darkButtonBorderColor--hover: inherit;
@darkButtonColor--hover: inherit;

/**
 * ===========================
 */

.button {
    font-size: @defaultButtonFontSize;
    padding: @defaultButtonPadding;
    border: @defaultButtonBorder;

    display: inline-block;
    border-radius: 0;
    outline: 0;
    box-shadow: none;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

/**
 * Sizes:
 * ------
 */

.button--big {
    padding: @bigButtonPadding;
    font-size: @bigButtonFontSize;
    border: @bigButtonBorder;
}

/**
 * Colors:
 * ------
 */

.button--dark {
    background: @darkButtonBackground;
    border-color: @darkButtonBorderColor;
    color: @darkButtonColor;

    &:hover {
        background: @darkButtonBackground--hover;
        border-color: @darkButtonBorderColor--hover;
        color: @darkButtonColor--hover;
    }
}

/**
 * Animations:
 * -----------
 */

.button--fill-animation ( @bgColor, @textColor ) {

    position: relative;
    overflow:hidden;
    z-index: 1;
    transition: 0.1s ease-in;

    &:hover {
        color: @textColor;
    }

    &:before {

        content: "";
        position: absolute;
        background: @bgColor;
        bottom: 0;
        top: 0;
        right: 100%;
        left: 0;
        z-index: -1;
        transition: right 0.1s ease-in;

    }

    &:hover:before {
        right: 0;
    }
}