/**
 * Hamburger-menu plugin
 *
 * @author Milan Kyncl (c) 2016
 * ---------------------------
 * Usage:
 *
 * .hambuger-menu( @HMMenuClass , @HMMaxScreenSize);
 * @var HMMenuClass - Název třídy blocku, ve kterém je seznam odkazů a "toggle" button ( .navbar > .navbar__menu, .navbar > .navbar__menu-toggle)
 * @var HMMaxScreenSize - Maximální šířka viewportu pro zachování responzivity
 */

.hamburger-menu(@HMMenuClass, @HMMaxScreenSize, @HMLineSize, @HMLineOffset){

    .@{HMMenuClass}__menu-toggle {

        width: 36px;
        height: @HMLineOffset * 3;
        border-radius: 4px;
        display: none;
        float: right;

        @media screen and (max-width: @HMMaxScreenSize){
            display: block;
        }
    }

    .@{HMMenuClass}__menu-toggle{

        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;

        > span {
            display: block;
            position: absolute;
            height: @HMLineSize;
            width: 100%;
            background: #fff;
            border-radius: 2px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: @HMLineOffset;
            }

            &:nth-child(3) {
                top: @HMLineOffset;
            }

            &:nth-child(4) {
                top: @HMLineOffset * 2;
            }
        }

        &.open > span{

            &:nth-child(1) {
                top: @HMLineOffset;
                width: 0;
                left: 50%;
            }

            &:nth-child(2) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

            &:nth-child(4) {
                top: @HMLineOffset;
                width: 0;
                left: 50%;
            }
        }
    }

    .@{HMMenuClass}__menu{
        display: block;

        @media screen and (max-width: @HMMaxScreenSize){
            display: none;
        }
    }
}