
// Generate the extra small columns
.make-fresh-xs-column(@columns; @gutter: @grid-gutter-width) {
    position: relative;
    flex-basis: percentage((@columns / @grid-columns));
    max-width: percentage((@columns / @grid-columns));
    padding-left:  (@gutter / 2);
    padding-right: (@gutter / 2);
}
.make-fresh-xs-column-offset(@columns) {
    margin-left: percentage((@columns / @grid-columns));
}
.make-fresh-xs-column-push(@columns) {
    left: percentage((@columns / @grid-columns));
}
.make-fresh-xs-column-pull(@columns) {
    right: percentage((@columns / @grid-columns));
}

// Generate the small columns
.make-fresh-sm-column(@columns; @gutter: @grid-gutter-width) {
    position: relative;
    padding-left:  (@gutter / 2);
    padding-right: (@gutter / 2);

    @media (min-width: @screen-sm-min) {
        flex-basis: percentage((@columns / @grid-columns));
        max-width: percentage((@columns / @grid-columns));
    }
}
.make-fresh-sm-column-offset(@columns) {
    @media (min-width: @screen-sm-min) {
        margin-left: percentage((@columns / @grid-columns));
    }
}
.make-fresh-sm-column-push(@columns) {
    @media (min-width: @screen-sm-min) {
        left: percentage((@columns / @grid-columns));
    }
}
.make-fresh-sm-column-pull(@columns) {
    @media (min-width: @screen-sm-min) {
        right: percentage((@columns / @grid-columns));
    }
}

// Generate the medium columns
.make-fresh-md-column(@columns; @gutter: @grid-gutter-width) {
    position: relative;
    padding-left:  (@gutter / 2);
    padding-right: (@gutter / 2);

    @media (min-width: @screen-md-min) {
        flex-basis: percentage((@columns / @grid-columns));
        max-width: percentage((@columns / @grid-columns));
    }
}
.make-fresh-md-column-offset(@columns) {
    @media (min-width: @screen-md-min) {
        margin-left: percentage((@columns / @grid-columns));
    }
}
.make-fresh-md-column-push(@columns) {
    @media (min-width: @screen-md-min) {
        left: percentage((@columns / @grid-columns));
    }
}
.make-fresh-md-column-pull(@columns) {
    @media (min-width: @screen-md-min) {
        right: percentage((@columns / @grid-columns));
    }
}

// Generate the large columns
.make-fresh-lg-column(@columns; @gutter: @grid-gutter-width) {
    position: relative;
    padding-left:  (@gutter / 2);
    padding-right: (@gutter / 2);

    @media (min-width: @screen-lg-min) {
        flex-basis: percentage((@columns / @grid-columns));
        max-width: percentage((@columns / @grid-columns));
    }
}
.make-fresh-lg-column-offset(@columns) {
    @media (min-width: @screen-lg-min) {
        margin-left: percentage((@columns / @grid-columns));
    }
}
.make-fresh-lg-column-push(@columns) {
    @media (min-width: @screen-lg-min) {
        left: percentage((@columns / @grid-columns));
    }
}
.make-fresh-lg-column-pull(@columns) {
    @media (min-width: @screen-lg-min) {
        right: percentage((@columns / @grid-columns));
    }
}