// Z-indexes

@zindex-navbar:            1000;
@zindex-dropdown:          1000;
@zindex-popover:           1060;
@zindex-tooltip:           1070;
@zindex-navbar-fixed:      1030;
@zindex-modal:             1040;


//== Media queries breakpoints

// Extra small
@fresh-screen-xs:            480px;
@fresh-screen-sm-min:        @fresh-screen-xs;

// Small screen / tablet
@fresh-screen-sm:            768px;
@fresh-screen-sm-min:        @fresh-screen-sm;

// Medium screen / desktop
@fresh-screen-md:                  992px;
@fresh-screen-md-min:              @fresh-screen-md;

// Large screen / wide desktop
@fresh-screen-lg:                  1200px;
@fresh-screen-lg-min:              @fresh-screen-lg;

// So media queries don't overlap when required, provide a maximum
@fresh-screen-xs-max:              (@fresh-screen-sm-min - 1);
@fresh-screen-sm-max:              (@fresh-screen-md-min - 1);
@fresh-screen-md-max:              (@fresh-screen-lg-min - 1);


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
@fresh-grid-columns:              24;

//** Padding between columns. Gets divided in half for the left and right.
@fresh-grid-gutter-width:         0;

// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@fresh-grid-float-breakpoint:     @fresh-screen-sm-min;

//** Point at which the navbar begins collapsing.
@fresh-grid-float-breakpoint-max: (@fresh-grid-float-breakpoint - 1);


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
@fresh-container-width:             1600px;