.fresh-row() {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.fresh-row--space() {
    justify-content: space-between;
}

.fresh-row--center() {
    justify-content: center;
}

.fresh-row--middle() {
    align-items: center;
}