
.append-fresh-separator (@offset, @css) {

    padding-bottom: @offset;
    position: relative;

    &:after {
        content: ' ';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);

        @css();
    }
}

.prepend-fresh-separator (@offset, @css) {

    padding-top: @offset;
    position: relative;

    &:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);

        @css();
    }
}